.footer {
  background-color: $color-primary;
  color: $color-secondary;
  padding: 60px 0;

  @include laptop {
    padding: 40px 0;
  }

  @include tablet {
    padding: 30px 0;
  }

  @include mobile {
    padding: 20px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px 30px;

    @include tablet {
      flex-direction: column;
    }
  }

  &__logo {
    width: 120px;
  }

  &__copyright {
    font-weight: 500;
    font-size: 1.6rem;

    @include mobile {
      font-size: 1.4rem;
    }
  }
}
