.goods-item {
  // min-height: 450px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  grid-template-rows: max-content max-content 1fr max-content max-content;
  grid-template-areas: 
    'image image image'
    'title title title'
    'description description description'
    'price price stock'
    'rating btn btn';
  gap: 10px;

  .goods__rows & {
    grid-template-columns: 100px 1fr max-content max-content;
    grid-template-rows: max-content 1fr max-content max-content;
    grid-template-areas: 
      'image title title price'
      'image description . . '
      'image description stock btn'
      'image description rating btn';
    gap: 4px 10px;
  }

  @include tablet {
    .goods__rows & {
      grid-template-columns: 100px 1fr max-content;
      grid-template-rows: max-content 1fr max-content max-content max-content;
      grid-template-areas: 
        'image title price'
        'image description .'
        'image description rating'
        'image description btn'
        'image description stock';
    }
  }

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-areas: 
    'image'
    'title'
    'description'
    'price'
    'rating'
    'btn'
    'stock'
    ;

    .goods__rows & {
      grid-template-columns: 60px 1fr max-content max-content;
      grid-template-rows: max-content 1fr max-content max-content;
      grid-template-areas: 
      'image title title price'
      'image description description description'
      'image rating btn btn'
      'image . stock stock';
    }
  }

  &__link {
    position: relative;

    &_image {
      grid-area: image;
      height: fit-content;
    }

    &_title {
      grid-area: title;
      transition: color 0.36s ease-in-out;

      &:hover {
        color: $color-main-sub;
      }
    }
  }

  &__discount {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: $color-secondary;
    background-color: $color-main-sub;
    padding: 3px 5px;
    border-radius: 5px;

    .goods__rows & {
      top: auto;
      right: auto;
      bottom: 2px;
      left: 2px;
      padding: 2px 3px;
    }

    @include mobile {
      font-size: 0.8rem;
    }
  }

  &__image {
    width: 100%;
    aspect-ratio: 2/1.2;
    object-fit: cover;

    .goods__rows & {
      aspect-ratio: 1/1;
      height: 100%;
    }
  }

  &__title {
    grid-area: title;
    font-weight: 500;
    font-size: 2.2rem;

    .goods__rows & {
      font-size: 2rem;
    }

    @include mobile {
      font-size: 1.4rem;

      .goods__rows & {
        font-size: 1.4rem;
      }
    }
  }

  
  &__description {
    grid-area: description;
    font-size: 1.6rem;

    @include mobile {
      font-size: 1.2rem;
    }
  }

  &__row {
    display: flex;
    gap: 20px;

    @include mobile {
      gap: 10px;
    }

    &_price {
      grid-area: price;
      place-self: start start;
      align-items: baseline;

      .goods__rows & {
        place-self: start end;
        flex-direction: row-reverse;
      }
    }
  }

  &__price {
    color: $color-main-sub;
    font-weight: 700;
    font-size: 2.2rem;

    @include mobile {
      font-size: 1.8rem;
    }

    &_old {
      font-weight: 500;
      position: relative;
      text-decoration: line-through;
      color: $color-grey;
      font-size: 1.6rem;

      &::after {
        content: '';
        width: calc(100% + 4px);
        height: 2px;
        background-color: $color-main-dark;
        position: absolute;
        top: 50%;
        left: -2px;
        transform: translateY(-50%);
      }
  
      @include mobile {
        font-size: 1.4rem;
      }
    }
  }

  &__rating {
    grid-area: rating;
    place-self: start start;
    display: flex;
    align-items: flex-end;
    gap: 10px;

    .goods__rows & {
      place-self: end end;
    }

    @include mobile {
      .goods__rows & {
        place-self: center start;
      }
    }
  }

  &__rate {
    font-weight: 500;
    font-size: 1.2rem;

    @include mobile {
      font-size: 1rem;
    }

    .goods__rows & {
      display: none;
    }
  }

  &__stock {
    grid-area: stock;
    place-self: end end;
    position: relative;
    top: 5px;
    display: flex;
    gap: 5px;

    .goods__rows & {
      position: static;
    }

    @include mobile {
      top: -5px;
    }
  }

  &__stock-text {
    font-size: 1.2rem;
  }

  &__stock-count {
    font-size: 1.2rem;
  }

  &__to-cart {
    grid-area: btn;
    place-self: end end;
    background-color: transparent;
    border: 1px solid $color-primary;
    padding: 8px 12px;
    font-weight: 500;
    font-size: 1.6rem;
    transition: all 0.36s ease-in-out;

    &_remove {
      color: $color-secondary;
      background-color: $color-primary;
    }

    @include tablet {

      .goods__rows & {
        margin-top: 5px;
      }
    }

    @include mobile {
      width: 100%;
      font-size: 1.3rem;
      margin-top: 5px;
      padding: 8px;

      .goods__rows & {
        margin-top: 0;
      }
    }

    &:hover {
      border-color: transparent;
      background-color: $color-main-sub;
    }
  }
}



