.stars {
  position: relative;
  height: $height-star;
  width: calc(($width-star * 5) - 2px);


  &__row {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background-repeat: repeat-x;
    background-position-x: -1px;
    background-size: $width-star $height-star;

    &_inactive {
      background-image: url('img/star_inactive.svg');
    }

    &_active {
      width: 90%;
      z-index: 2;
      background-image: url('img/star_active.svg');
    }
  }
}