.catalog {
  &__container {
    position: relative;
    display: grid;
    grid-template-columns: 4fr 240px;
    gap: 72px 30px;

    @include desktop {
      grid-template-columns: 3fr 240px;
      column-gap: 20px;
    }

    @include laptop {
      grid-template-columns: 3fr 240px;
      row-gap: 80px;
    }

    @include tablet {
      grid-template-columns: 1fr;
      row-gap: 50px;
    }
  }

  &__panel {
    display: flex;
    margin-bottom: 10px;
    gap: 20px;

    &_top {
      align-items: baseline;
      justify-content: flex-start;
    }

    &_bottom {
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 20px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 4rem;

    @include mobile {
      font-size: 3rem;
    }
  }

  &__items-number {
    font-size: 1.6rem;

    @include mobile {
      font-size: 1.2rem;
    }
  }

  &__input {
    font-weight: 400;
    font-size: 1.6rem;
    padding: 0 10px;
    border: 1px solid $color-primary;
    border-radius: 0;
    height: 28px;
    color: $color-grey;

    @include mobile {
      font-size: 1.4rem;
      height: 24px;
    }

    &_select {
      width: 100%;
      appearance: none;
    }

    &:focus {
      outline-color: $color-main;
    }
  }

  &__select-label {
    position: relative;
    min-width: 200px;

    @include mobile {
      width: 100%;
    }

    &:after {
      content: '';
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(calc(-50% - 2px)) rotate(45deg);
      display: block;
      width: 10px;
      height: 10px;
      border-width: 2px;
      border-style: solid;
      border-color: transparent $color-primary $color-primary transparent;
    }
  }

  &__filter-btn {
    display: none;

    @include tablet {
      display: flex;
      align-items: center;
      gap: 5px;
      position: absolute;
      top: 10px;
      right: 15px;
      font-weight: 700;
      font-size: 2rem;
      background-color: transparent;
      border: none;

      &:after {
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        background-image: url("img/arrow-down.svg");
      }
    }

    @include mobile {
      font-size: 1.2rem;
      right: 10px;
    }
  }

  &__pagination {
    grid-column: 2 span;

    @include tablet {
      grid-column: auto;
    }
  }
}

.display {
  display: flex;
  align-items: center;
  gap: 10px;

  &__button {
    color: $color-main;
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: 1px solid $color-grey-light;
    padding: 2px;

    @include mobile {
      width: 24px;
      height: 24px;
    }

    &:hover {
      color: $color-main-sub;
      border-color: $color-main-sub;
    }

    &_active {
      border-color: $color-primary;
    }
  }
}
