.filter {
  padding-top: 58px;
  min-width: 240px;

  @include tablet {
    display: none;
    position: absolute;
    background-color: $color-secondary;
    top: 0;
    right: 0;
    z-index: 555;
    padding: 16px 20px 26px;

    &_show {
      display: block;
    }
  }

  @include mobile {
    padding: 10px 10px 15px;
  }

  &__form {
    position: relative;
  }

  &__title {
    font-weight: 700;
    font-size: 2.6rem;
    margin-bottom: 30px;
    pointer-events: none;

    @include tablet {
      font-size: 2rem;
      margin-bottom: 20px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 5px;
      pointer-events: auto;
      cursor: pointer;
      transition: color 0.36s ease-in-out;

      &:after {
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        background-image: url("img/arrow-down.svg");
        transform: rotate(180deg);
      }
    }

    @include mobile {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
  }

  &__fields-list {
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__field {
    margin-bottom: 20px;

    @include mobile {
      margin-bottom: 15px;
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__field-title {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 10px;

    @include mobile {
      font-size: 1.6rem;
      margin-bottom: 4px;
    }
  }

  &__flex {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    gap: 10px;
  }

  &__input {
    width: 165px;
    font-weight: 400;
    font-size: 1.6rem;
    padding: 0 10px;
    border: 1px solid $color-primary;
    border-radius: 0;
    height: 38px;
    color: $color-grey;

    @include laptop {
      width: 145px;
    }

    @include mobile {
      font-size: 1.4rem;
      height: 35px;
    }

    &_select {
      width: 100%;
      appearance: none;
      cursor: pointer;

      @include laptop {
        width: 100%;
      }
    }

    &:focus {
      outline-color: $color-main;
    }
  }

  &__range-wrapper {
    display: flex;
    padding: 10px 0;
  }

  &__range-text {
    font-size: 1.2rem;
    font-weight: 500;

    &_min {
      place-self: center start;
    }

    &_current {
      place-self: center center;
    }

    &_max {
      place-self: center end;
    }
  }

  &__range-label {
    position: relative;
    width: 100%;
  }

  &__range {
    -webkit-appearance: none; 
    appearance: none;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $color-grey-light;
    pointer-events: none;

    &_to {
      height: 0;
      z-index: 1;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      pointer-events: all;
      width: 14px;
      height: 14px;
      color: $color-main;
      background-color: $color-main;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.36s ease-in-out;
    }
    
    &::-moz-range-thumb {
      appearance: none;
      pointer-events: all;
      width: 14px;
      height: 14px;
      background-color: $color-main;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.36s ease-in-out; 
    }
    
    &::-webkit-slider-thumb:hover {
      background-color: $color-main-sub;
    }

    &::-moz-range-thumb:hover {
      background-color: $color-main-sub;
    }
    
    // &::-webkit-slider-thumb:active {
    //   box-shadow: inset 0 0 3px $color-main, 0 0 9px $color-main;
    //   -webkit-box-shadow: inset 0 0 3px $color-main, 0 0 9px $color-main;
    // }
  }

  &__select-label {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(calc(-50% - 4px)) rotate(45deg);
      display: block;
      width: 10px;
      height: 10px;
      border-width: 2px;
      border-style: solid;
      border-color: transparent $color-primary $color-primary transparent;
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;
    background-color: $color-primary;
    color: $color-secondary;
    font-weight: 500;
    font-size: 1.6rem;
    padding: 8px 20px 10px;
    border: none;
    transition: background-color 0.36s ease-in-out;

    @include tablet {
      margin-bottom: 15px;
    }

    @include mobile {
      font-size: 1.2rem;
    }

    &:hover {
      background-color: $color-main;
    }

    &:active {
      background-color: $color-main-sub;
    }
  }

  &__apply {
    margin-bottom: 10px;
  }

  &__reset {
    position: absolute;
    top: 5px;
    right: 4px;
    font-weight: 500;
    font-size: 1.6rem;
    color: $color-grey;
    background-color: transparent;
    border: none;
    transition: color 0.36s ease-in-out;

    @include tablet {
      position: static;
      display: block;
      margin: 0 auto;
    }

    @include mobile {
      font-size: 1.2rem;
    }

    &:hover {
      color: $color-main;
    }
  }

}
