.promo-block {
  &__container {
      margin: 1rem 0;;
  }
  &__title {
      color: orange;
      margin: 0.5rem 0;
  }
  &__row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
  }
}